extends ./layout

block body
  div(ng-app="#{name}")
    div.topbar.clearfix
      div.container
        div.row
          div.col-md-offset-2.col-md-8
            div(topbar)
    div.container
      div.row
        div.col-md-offset-2.col-md-8
          div(ng-view)

block scripts
  script(src="/bower_components/angular/angular.min.js")
  script(src="/bower_components/angular-route/angular-route.min.js")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/bower_components/angular-moment/angular-moment.min.js")
  script(src="/bower_components/lodash/dist/lodash.min.js")
  script
    | window.#{name} = angular.module('#{name}', ['ngRoute', 'templates', 'ui.bootstrap', 'angularMoment']);
  script(src="/build/#{name}/templates.js")
  script(src="/build/#{name}/app.js")
