extends ./layout

block stylesheets
  link(rel='stylesheet' type='text/css' href='/bower_components/clockpicker/dist/bootstrap-clockpicker.min.css')

block body
  div(ng-app="#{name}")
    div.topbar.clearfix
      div.container
        div.row
          div.col-md-offset-2.col-md-8
            div(topbar)
              nav.navbar.navbar-inverse
                div.container-fluid
                  div.navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar")
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand.clearfix(href="/client")
                      img.img-responsive.img-rounded(src="/images/logo_yellow.png")
                  div.collapse.navbar-collapse#navbar
                    ul.nav.navbar-nav.navbar-left
                    ul.nav.navbar-nav.navbar-right
                      li.visible-xs
                        if user.is_admin
                          a(href="/admin")
                            | Switch to Admin
                      li.visible-xs
                        a(href="#/account")
                          | Account
                      li.visible-xs
                        a(href="/logout")
                          | Logout
                      li.dropdown.hidden-xs
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                          i.fa.fa-gear
                        ul.dropdown-menu(role="menu")
                          li
                            a(href="#/account")
                              | Account
                              div
                                =user.name
                          li
                            a(href="#/devices")
                              | My Devices
                          if user.is_admin
                            li
                              a(href="/admin")
                                | Switch to Admin
                          li
                            a(href="/logout")
                              | Logout

    div.container
      div.row
        div.col-md-offset-2.col-md-8
          div(ng-view)

block scripts
  script(src="/bower_components/angular/angular.min.js")
  script(src="/bower_components/angular-route/angular-route.min.js")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/bower_components/angular-moment/angular-moment.min.js")
  script(src="/bower_components/lodash/dist/lodash.min.js")
  script(src="/bower_components/clockpicker/dist/bootstrap-clockpicker.min.js")
  script
    | window.#{name} = angular.module('#{name}', ['ngRoute', 'templates', 'ui.bootstrap', 'angularMoment']);
  script(src="/build/#{name}/templates.js")
  script(src="/build/#{name}/app.js")
